os: linux
dist:
  -trusty
language: cpp
matrix:
  include:
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"
    - addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-5-dev
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
before_install:
  - eval "${MATRIX_EVAL}"
script:
  - make -C lab_04
  - cd lab_04
  - ./main
